.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
**/.env
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml
docker-compose.ci-build.yml
docker-compose.debug.yml
*.dockerfile
*.dockerfile.*
